body{
}

.title{
    width: 250px;
    height: auto;
}

.modules{
    width: 130px;
    height: auto;
}

.learning-path{
    font-family: 'Comfortaa', cursive;
}

.profile{
    width: 200px;
    height: auto;
}

.btn-custom{
    border-radius: 10px 10px 10px 10px;
    background-color: white; 
    color: #2cb6d1;
    border-color: #2cb6d1;
}