body {}

.title {
    width: 250px;
    height: auto;
}

.modules {
    width: 130px;
    height: auto;
    transition: 0.33s;
}

.modules:hover {
    width: 140px;

}

.learning-path {
    font-family: 'Comfortaa', cursive;
}

.profile {
    width: 200px;
    height: auto;
    border-width: thick;
}

.btn-custom{
    border-radius: 10px 10px 10px 10px;
    background-color: white; 
    color: #2cb6d1;
    border-color: #2cb6d1;
    border-width: medium;
}

.btn-custom:hover{
    border-radius: 15px 15px 15px 15px;
    background-color: #2cb6d1; 
    color: white;
    border-color: white;
    border-width: medium;
}

.game-letter{
    font-size: 180px;
}

.game-background{
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
}

.signed-pic{
    border-radius: 15px 15px 15px 15px;
}

