{% extends 'base.html' %}

{% block container %}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <h2 class="text-center learning-path"><b>Learning Paths</b></h2>

        <br>

        <div class="row">
            <div class="col-sm">
                <h3 class="learning-path">Level 1 - Alphabet</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <br>
                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='img/bronze-badge.png') }}"
                        class="
                        rounded
                        modules
                        "
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/silver-badge.png') }}"
                        class="rounded
                        modules
                        "
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/gold-badge.png') }}"
                        class="rounded 
                        modules
                        "
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm">
                <h3 class="learning-path">Level 2 - Words</h3>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm">
                <br>
                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='img/bronze-medal.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/silver-medal.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/gold-medal.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/medals.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm">
                <h3 class="learning-path">Level 3 - Sentences</h3>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm">
                <br>
                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='img/trophy-bronze.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/trophy-silver.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
            <div class="col-sm text-center">
                <br>
                <div>
                    <img
                        src="{{ url_for('static', filename='img/trophy-gold.png') }}"
                        class="rounded modules"
                        alt="Signatia"
                    >
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="col-sm-4 offset-sm-1">
        <div class="row">
            <div class="col-sm">
                <h2 class="text-center learning-path"><b>Gaurav Ranganath</b></h2>
                <br>
                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='img/profile.jpg') }}"
                        class="rounded profile"
                        alt="Signatia"
                    >
                </div>
                <br>
                <h6 class="text-center">Level 1</h6>
                <br>
                <div class="text-center">
                    <button
                        type="button"
                        class="btn btn-primary btn-custom"
                    >Check Your Progress</button>
                </div>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-sm">
                <h2 class="text-center">Friends</h2>
            </div>
        </div>

        <br>

        <div class="row">

            <div class="col-sm">
                <div class="text-center">
                    <img
                        src="https://www.flaticon.com/profile/accounts/avatar/default_07.png?1547254604"
                        class="rounded"
                        alt="Signatia"
                    >
                    <br><br>
                    <p>Kuba Werner</p>
                    <p>Level 5</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="text-center">
                    <img
                        src="https://www.flaticon.com/profile/accounts/avatar/default_07.png?1547254604"
                        class="rounded"
                        alt="Signatia"
                    >
                    <br><br>
                    <p>Afzal Chishti</p>
                    <p>Level 3</p>
                </div>
            </div>

            <div class="col-sm">
                <div class="text-center">
                    <img
                        src="https://www.flaticon.com/profile/accounts/avatar/default_07.png?1547254604"
                        class="rounded"
                        alt="Signatia"
                    >
                    <br><br>
                    <p>Khizar Siddiqui</p>
                    <p>Level 1</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-1"></div>
</div>

{% endblock %}