{% extends 'base.html' %}

{% block container %}

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 game-background">
            <br>
            <h2 class="learning-path text-center"><b>Make the Sign</b></h2>
            <br>
            <p class="text-center">Try your best to create the letter with your hand!</p>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class = "text-center">
                        <img
                            src="{{ url_for('static', filename='ASL-Alphabets/a.jpg') }}";
                            class = "signed-pic";
                        >
                    </div>
                
                <br>
                    
                <div class = "text-center">
                        <form>
                            <div class="form-check-inline">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">A</label>
                            </div>
                            <div class="form-check-inline">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">B</label>
                            </div>
                            <div class="form-check-inline">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">C</label>
                            </div>
                            <div class="form-check-inline">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">D</label>
                            </div>
                            
                            <div class="text-center">
                                <br>
                                <button
                                    type="button"
                                    class="btn btn-custom"
                                    >Go Back
                                </button>
                                
                                <button
                                    type="button"
                                    class="btn btn-custom"
                                    >Submit
                                </button>
                            </div>
                        </form>
                </div>
                
                </div>
            </div>
            <br>      
        </div>
        
        <div class="col-sm-1"></div>
        
        <div class="col-sm-5">
            <div class = "text-center">
                <img
                    src="{{ url_for('video_feed') }}"
                    class="w-100"
                >
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
        

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


{% endblock %}