{% extends 'base.html' %}

{% block container %}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <h2 class="learning-path text-center"><b>Make the Sign</b></h2>
        <br>
        <p class="text-center">Try your best to create the letter with your hand!</p>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='ASL-Alphabets/a.jpg') }}"
                        class="
                        signed-pic"
                    >
                </div>
            </div>

            <div class="col-sm-6">
                <div class="text-center">
                    <h1 class="game-letter">
                        A
                    </h1>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm">
                <h2
                    class="learning-path text-center"
                    style="color: #2cb6d1;"
                ><b>Waiting...</b></h2>
            </div>
        </div>

    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-5">
        <div class="text-center">
            <img
                src="{{ url_for('video_feed') }}"
                class="w-100"
            >
        </div>
    </div>
    <div class="col-sm-1"></div>
    <button onclick=updateLetter()>
        HELLO
    </button>
</div>

<script>
    let capital_letter = 65; // 65 = 'A'
    let lowercase_letter = 97; // 97 = 'a'
</script>

<script>
    function updateLetter() {
        capital_letter++;
        lowercase_letter++;
        let photo_path = 'http://0.0.0.0:5000/static/ASL-Alphabets/';
        const photo = document.getElementsByClassName('signed-pic')[0];
        const letter = document.getElementsByClassName('game-letter')[0];
        photo.src = photo_path + String.fromCharCode(lowercase_letter) + '.jpg';
        letter.innerHTML = String.fromCharCode(capital_letter);
    }
</script>




{% endblock %}