{% extends 'base.html' %}

{% block container %}

<div class="row">

    <div class="col-sm-6 offset-sm-3 game-background">
        <br><br>
        <h2 class="learning-path text-center"><b>Multiple Choice</b></h2>
        <br>
        <p class="text-center">Check off which letter matches the sign!</p>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <img
                        src="{{ url_for('static', filename='ASL-Alphabets/a.jpg') }}"
                        ;
                        class="signed-pic"
                        ;
                    >
                </div>

                <br>

                <div class="text-center">
                    <form class="form-control-lg">
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio1"
                                value="option1"
                            >
                            <label
                                class="form-check-label"
                                for="inlineRadio1"
                            >A</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio2"
                                value="option2"
                            >
                            <label
                                class="form-check-label"
                                for="inlineRadio2"
                            >B</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio3"
                                value="option3"
                            >
                            <label
                                class="form-check-label"
                                for="inlineRadio3"
                            >C</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio4"
                                value="option4"
                            >
                            <label
                                class="form-check-label"
                                for="inlineRadio4"
                            >D</label>
                        </div>

                        <div class="text-center">
                            <br>
                            <button
                                type="button"
                                class="btn btn-custom"
                            >Go Back
                            </button>

                            <button
                                type="button"
                                class="btn btn-custom"
                            >Submit
                            </button>
                        </div>
                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-1"></div>
</div>

<script>
    'inlineRadio3'
</script>


{% endblock %}